<ul class="nav nav-pills">
	<li ng-class="{ active: isActive('dash') }">
	<a href="#/dashboard">Dashboard</a> </li>
	<li ng-class="{ active: isActive('questions') }">
	<a href="#/questions">Questions</a> </li>
	<li ng-class="{ active: isActive('surveys') }">
	<a href="#/surveys">Surveys</a> </li>
	<li ng-class="{ active: isActive('customers') }">
	<a href="#/customers">Customers</a></li>
	<li ng-class="{ active: isActive('initiatives_admin') }">
	<a href="#/initiatives_admin">Initiatives </a></li>
</ul>
