<div class="navbar navbar-inverse navbar-static-top" role="navigation"
     style="background-color: #cccccc; height:auto;color:white">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand pull-left">
            CULTURE<span style="color:#34ff2e">iQ</span>
        </div>

    </div>
    <div class="collapse navbar-collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-right" id="header-nav">
            <li>This survey expires in n days</li>
        </ul>
    </div>
</div>