<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12" style="padding:0px">Q3. How do you feel about Quisque eu nisi convallis?</div>
    </div>
    <br>
    <div class="row">
        <textarea class="col-xs-12 col-sm-12" ng-click="openTextArea()" rows="{{numberOfRows}}"  style="border:none; padding:0px" placeholder="Please enter your answer here"></textarea>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-12" style="border:1px solid black"></div>
    </div>
    <br>
    <div class="row">
        <button class="col-xs-3 col-sm-2 btn pull-right">Submit</button>
    </div>
</div>