<ul class="nav nav-pills">
	<li ng-class="{ active: isActive('dash') }">
		<a href="#/dashboard">Dashboard</a>
	</li>
	<li ng-class="{ active: isActive('survey_mgmt') }">
		<a href="#/survey_mgmt">Surveys</a>
	</li>
	<!--
	<li ng-class="{ active: isActive('surveys') }">
		<a href="#/surveys">Surveys</a>
	</li>
	<li ng-class="{ active: isActive('sent') }">
		<a href="#/sent">Sent </a>
	</li>
	<li ng-class="{ active: isActive('analysis') }">
		<a href="#/analysis">Analysis </a>
	</li>
	-->
	<li ng-class="{ active: isActive('employees') }">
		<a href="#/employees">Employees</a>
	</li>
	<li ng-class="{ active: isActive('initiatives') }">
		<a href="#/initiatives">Initiatives </a>
	</li>
</ul>
